<h3>Your Goals This Week</h3>
<div ng-repeat="activity in index.activities" class="bs-callout bs-callout-primary"> 
<a ng-href="#/track_goal_progress">
	<div class="row">
		<div class="col-md-2 col-sm-2 col-xs-2">
		<i class="fa fa-{{activity.icon}} fa-2x fa-fw"></i>
		</div>
		<div class="col-md-8 col-sm-8 col-xs-8">
			<div class="row">
				<div class="col-md-7">
				<b>{{activity.name}}</b><br/> 
				{{activity.weeklyFrequency}} times this week
				</div>
				<div class="col-md-5">
				<i ng-repeat="item in index.loopGenerator(activity.numberComplete)" class="fa fa-2x fa-dot-circle-o" aria-hidden="true"></i><i ng-repeat="item in index.loopGenerator(activity.weeklyFrequency - activity.numberComplete)" class="fa fa-2x fa-circle-o" aria-hidden="true"></i><br/>
				{{activity.weeklyFrequency - activity.numberComplete}} to go!			
				</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-xs-1 text-right">
		<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</div>
	</div>
</a>
</div>
<a href="#/add_goal" class="btn btn-primary btn-lg full-width">Add a New Goal <i class="fa fa-plus"></i></a><br/><br/>