<h2>Track Your Goal Progress</h2>

<div ng-show="!progress.complete">
<h3>You said you...</h3>

<div class="well"><h4>Played ping pong...</h4></div>

  <fieldset class="form-group">
    <label for="minutes">How long did it take?</label>
    <select class="form-control" id="minutes">
      <option>0-9 minutes</option>
      <option>10-19 minutes</option>
      <option>20-29 minutes</option>
      <option>30-39 minutes</option>
      <option>40-49 minutes</option>
      <option>50-59 minutes</option>
      <option>60-69 minutes</option>
      <option>70-79 minutes</option>
      <option>80-89 minutes</option>
      <option>90+ minutes</option>

    </select>
  </fieldset>

<button ng-click="progress.complete = true" class="btn btn-success btn-lg full-width">Save</button>
</div>

<div ng-show="progress.complete">
<h2>Great, keep tracking!</h2>
<a href="#/"  class="btn btn-success btn-lg full-width"><i class="fa fa-home"></i> Return Home</a>

</div>
