<h2>Track Your Goal Progress</h2>

<div ng-show="!progress.complete">
<h3>You said you...</h3>

<div class="well"><h4>Played ping pong...</h4></div>
<form>
  <fieldset class="form-group">
    <label for="minutes">How long did it take?</label>
      <label class="btn btn-default full-width" ng-repeat="time in progress.times">
        <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1">
        <input type="radio" name="time">
        </div>
        <div class="col-md-11 col-sm-11 col-xs-11"> {{time.name}}
        </div>
        </div>
      </label>
  </fieldset>

<button ng-click="progress.complete = true" class="btn btn-success btn-lg full-width">Save</button>
</form>
</div>

<div ng-show="progress.complete">
<h3>Great, keep tracking!</h3>
<a href="#/"  class="btn btn-success btn-lg full-width"><i class="fa fa-home"></i> Return Home</a>

</div>
